@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}
@{Html.RenderPartial("_SysDataPartial");}
<br />
@{Html.RenderPartial("_SysDataPartial");}
<br />
@{Html.RenderPartial("_SysDataPartial");}
<br />
<table class="table table-bordered table-striped">
    <tr>
        <td>測試</td>
        <td>123</td>
        <td>測試</td>
        <td>123</td>
    </tr>

    <tr>
        <td>測試</td>
        <td>456</td>
        <td>測試</td>
        <td>456</td>
    </tr>
</table>
@{Html.RenderPartial("_SysDataPartial");}
@{Html.RenderAction("", "");}

